<h2>Template</h2>
<h3>Text interpolation</h3>
<p>
    {{ name }} - {{ age }} - {{ sum(1, 2) }}
</p>

<p>{{ 1 + 1 }}</p>
<hr />

<h2>Property binding</h2>
<!-- <element [property]=''></element>-->
<button [disabled]="isDisabled">Button</button>
<!--<img [src]="srcValue" [alt]="name" [title]="name"/>-->

<hr/>

<h2>Attribute binding</h2>
<!--<element [attr.atribute-you-are-targeting]="value"></element>-->
<p [attr.title]="name" [attr.aria-label]="name">Fabio Godoy</p>

<hr />

<h2>Class and Style binding</h2>
<p [class.background-red]="age >= 32" [class.background-blue]="age === 32">{{ name }}</p>

<p [style.text-decoration]="isTextDecoration">{{ age }}</p>
